{% extends "base.html" %}

{% block title %}Aspine AI{% endblock %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <form action="{% url 'cloud_pic' %}" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">去AI打点</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}